.incrementer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 225px;
    border: 2px solid grey;
    border-radius: 20px;
}

.incrementerTablo {
    width: 300px;
    height: 120px;
    border: 2px solid #61dafb;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 0 10px;
}

.incrementerButtons {
    border: 2px solid #61dafb;
    border-radius: 20px;
    width: 300px;
}